.card:hover {
  transition:0.8s;
  box-shadow: 1px 3px 10px 3px #595656;
  transform: scale(1.1, 1.1);
}
#social li {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
}
.facebook {
  width: 50px;
  height: 50px;
}
.facebook .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.facebook .border:hover {
  background: #3b5998;
  border-color: #436aaf;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-facebook {
  font-size: 25px;
}

.twitter {
  width: 50px;
  height: 50px;
}

.twitter .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.twitter .border:hover {
  background: #00aced;
  border-color: #72c6e6;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-twitter {
  font-size: 25px;
}



.instagram {
  width: 50px;
  height: 50px;
}

.instagram .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.instagram .border:hover {
  background: #517fa4;
  border-color: #7495af;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-instagram {
  font-size: 25px;
}

/** dribbble **/

.dribbble {
  width: 50px;
  height: 50px;
}

.dribbble .border {
  background: transparent;
  outline: none;
  color:rgba(255,255,255, 0.3);
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: all .2s ease-in-out;
}

.dribbble .border:hover {
  background: #ea4c89;
  border-color: #ff78ac;
  color: rgba(255,255,255, 0.9);
  transform: scale(1.2);
}

.fa.fa-dribbble {
  font-size: 25px;
}

#social ul li {
  transition: ease .3s;
}

#social ul:hover > li {
  opacity: 0.5;
}

#social ul:hover > li:hover {
  opacity: 1;
}